{# app/Resources/views/app/postShow.html.twig #}

{% extends 'app/layout.html.twig' %}

{% block bodySite %}
        <h1>{{ post.title }}</h1>
        	<h2>{{ post.authorEmail }}</h2>
            	<p>{{ post.content }}</p>
{% endblock %}

{% block stylesheets %}
{% endblock %}