<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets output="css/app.css"
                "%kernel.root_dir%/Resources/assets/css/*"
             %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="headerSite">
            {% block headerSite %}
                <header>
                    <div class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('accueil') }}">
                                    Benedictux
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock %}
        </div>

        <div id="contentSite">
            {% block bodySite %}
                <section>
                </section>
            {% endblock %}
        </div>

        <div id="footerSite">
            {% block footerSite %}
                <footer>
                </footer>
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
