{% extends 'base.html.twig' %}

{% block body %}
        <h1>{{ post.title }}</h1>
        	<h2>{{ post.authorEmail }}</h2>
            	<p>{{ post.content }}</p>
{% endblock %}

{% block stylesheets %}
{% endblock %}